body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif
}

header {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 150px;
}

h3, h2   {
    margin: 0;
    text-transform: uppercase;
}

p, button {
    font-size: 18px;
}

.header-title {
    font-size: 80px;
    width: 40%;
}

.score-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 63px;
    padding-top: 35px;
}

.score-container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.header__game-intro {
    display: flex;
    justify-content: center;
    width: 90%;
}

.header__game-intro_text {
    width: 30%;
}

.header__game-intro_form {
    width: 30%;
    align-self: center;
    text-align: end;
}

.header__game-intro_btn {
    width: 129px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: #907a65;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
}

.game-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: bold;
    margin: 7.5%;
    background: #cbc1b3;
    width: 106px;
    height: 106px;
}

.score-container__content,
.game-container {
    background: #bbac9f;
}